<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>Maid fan</title>
<meta name="viewport" content="width=device-width">

<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

<link rel="stylesheet" href="css/bootstrap.min.css">

</head>

<body>

<div class="header-all">
<div class="menu navbar navbar-inverse navbar-static-top">
<div class="container">

  <div class="navbar-header">

    <span class="header">
      <%= image_tag 'http://www.fastpic.jp/images.php?file=6003836600.jpg', :class => "header-logo"  %>
    </span>

    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">メニュー</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

  </div>

  <div class="navbar-collapse collapse">
    <ul class=" nav navbar-nav navbar-right">
        <li><a href="#">ホーム</a></li>
          <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSc7nHOfqxh_LD_3SVgv9oJjQRCCTkyd5MbWBrLLe7OqbwMfMg/viewform?c=0&w=1">お問い合わせ</a></li>
        <li><a href="https://www.facebook.com/maikit?fref=nf">運営者</a></li>
    </ul>
  </div>

</div><!-- container -->
</div>
</div><!-- header-all -->

<div class="carousel">
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" >
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <!--<li data-target="#carousel-example-generic" data-slide-to="1"></li> -->
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag 'maid1.jpg', :class => "carousel-image" %>
      <div class="carousel-caption">
      <h3>めいどりーみん</h3>
      <p>No.1メイドカフェグループ</p>
      </div>
    </div>

    <!--<div class="item">-->
    <!--  <%= image_tag '', :class => "carousel-image"  %>-->
    <!--  <div class="carousel-caption">-->
    <!--  <h3></h3>-->
    <!--  <p></p>-->
    <!--  </div>-->
    <!--</div>-->
  </div>

<!-- Controls -->
<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
  <span class="glyphicon glyphicon-chevron-left"></span>
</a>
<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
  <span class="glyphicon glyphicon-chevron-right"></span>
</a>
</div>
</div><!--carousel-->

<div class="container">

<h3 class="title"><i class="fa fa-check" aria-hidden="true"></i> オススメスタッフ</h3>

<div class="osusume-body">
<div class="osusume-overflow">

<div class="osusume-space">
<!--<div class="col-md-3 col-sm-4">-->
<div class="osusume">
    <div class="thumbnail-time">
      <%= link_to "https://twitter.com/airi_cosmo9" do %>
      <%= image_tag('https://pbs.twimg.com/profile_images/784775925443330053/xE4Td0H2_400x400.jpg', :class => "maid-thumbnail") %>
      <% end %>
      <!--<div class="time">本日12:00~18:00</div>-->
    </div>
    <h5><%= @maid4.name %></h5>
    <div class="place">リトルコスモ</div>
    <div class="comment"><%= @maid4.description %></a></div>
</div>
<!--</div>-->
</div>

<div class="osusume-space">
<!--<div class="col-md-3 col-sm-4">-->
<div class="osusume">
    <div class="thumbnail-time">
      <%= link_to "http://blog.crooz.jp/ninjachan/" do %>
      <%= image_tag 'https://scontent-nrt1-1.cdninstagram.com/t51.2885-19/s320x320/14730655_1727728750885878_5316895295966019584_a.jpg', :class => "maid-thumbnail" %>
      <% end %>
      <div class="time"></div>
    </div>
    <h5>アン</h5>
    <a href="http://shinobazu-cafe.com/"><div class="place">不忍カフェ</div></a>
    <div class="comment">\\お殿さま、お姫さま// わたくし不忍カフェ 特別中忍 藤林アンと申しまする♪♪</div>
</div>
<!--</div>-->
</div>

<div class="osusume-space">
<!--<div class="col-md-3 col-sm-4">-->
<div class="osusume">
    <div class="thumbnail-time">
      <%= link_to "http://bunnysguild.com/cast/231.html" do %>
      <%= image_tag 'https://pbs.twimg.com/profile_images/793248966372577280/rbFyUfa6_400x400.jpg', :class => "maid-thumbnail" %>
      <% end %>
      <div class="time"></div>
    </div>
    <h5>ラン</h5>
    <a href="http://bunnysguild.com/"><div class="place">バニーズギルド</div></a>
    <div class="comment">Bunny's Guildで見習いディーラーしてます。 コミュ障のラン雑対応。人見知り！</div>
</div>
<!--</div>-->
</div>

</div><!-- osusume-overflow -->
</div><!-- osusume-body -->

</div><!-- container -->

<div class="container">

<!--<h3 class="title"><i class="fa fa-comments-o" aria-hidden="true"></i> 新着スタッフ</h3>-->

</div><!-- container -->

<div class="container">

<h3 class="title"><i class="fa fa-heart-o" aria-hidden="true"></i> 人気スタッフ</h3>

<div class="row">
<div class="col-md-3 col-sm-4 col-xs-6">
<div class="popular">
    <%= link_to "https://twitter.com/cosmo_rika" do %>
    <%= image_tag 'https://pbs.twimg.com/profile_images/744092749301899265/p96mxxrq_400x400.jpg' %>
    <% end %>
    <h5>りか</h5>
    <a href="https://twitter.com/little_cosmo_?lang=ja"><div class="place">リトルコスモ</div></a>
    <div class="comment">宇宙メイドリトルコスモのりかです♡エビ中と焼肉とお米が大好きな永遠の18歳です♡</div>
</div>
</div><!-- col -->

<div class="col-md-3 col-sm-4 col-xs-6">
<div class="popular">
    <%= link_to "http://www.grand-pirates.jp/profile.html?uid=6" do %>
    <%= image_tag 'http://www.grand-pirates.jp/data/girl/6_1.jpg?1483057083' %>
    <% end %>
    <h5>ティファ</h5>
    <a href="http://www.grand-pirates.jp/"><div class="place">グランドパイレーツ</div></a>
    <div class="comment">はじめましてっ！ キミを笑顔にしますっっ！ 基本ひきこもりなのでアニメや声優さん、ゲームや音楽のお話で楽しくお話ししましょう♪</div>
</div>
</div><!-- col -->
</div><!-- row -->
</div><!-- container -->

<div class="container">

<!--<h3 class="title"><i class="fa fa-home" aria-hidden="true"></i> カフェ</h3>-->

<div class="row">
<div class="col-md-3 col-sm-4 col-xs-6">
<div class="cafe">
    
</div>
</div><!-- col -->


</div><!-- row -->
</div><!-- container -->

<div class="container">

</div><!-- container -->

<div class="footer well">

<div class="container">

<div class="row">
<div class="col-sm-12">
    <iframe height="250" allowTransparency="true" frameborder="0" scrolling="no" style="width:100%;border:none"  src="https://maidfan.wufoo.com/embed/z4oit6v1ttttqe/"><a href="https://maidfan.wufoo.com/forms/z4oit6v1ttttqe/">Fill out my Wufoo form!</a></iframe><div id="wuf-adv" style="font-family:inherit;font-size: small;color:#a7a7a7;text-align:center;display:block;"></div>
    <p>Copyright &copy; 2016 Maiki Takahashi</p>
</div>

</div><!-- col -->
</div><!-- row -->

</div><!-- container -->


<%= javascript_include_tag "static_pages.js" %>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>